{% extends "AppMalbec/padre.html" %}

{% load static %}

{% block titulo %}

VARIEDADES
                                
{% endblock %}

{% block pie%}
<h1>Bebidas</h1>
{% for variedad in object_list %}

<ul>
    <li>
        {{variedad.categoria}} <br> {{variedad.marca}} {{variedad.familia}} <br> Precio: {{variedad.precio}} <br>
        
        {% with user.variedad_set.first as bebida %}
                <img src="p.imagen.url" alt="No hay imagen" style="max-width: 75px ;" enctype="multipart/form-data">
                {% endwith %}
    </li>
</ul>
<a href="{% url 'DetalleVariedad' variedad.id %} ">Ver Detalles</a>
<a href="{% url 'EditarVariedad' variedad.id %} ">Actualizar Datos</a> 
<a href="{% url 'VariedadBorrar' variedad.id %} ">Borrar</a>

{% endfor %}<br>
<a href="{% url 'AgregarVariedad' %}">Agregar Nueva Bebida</a>
{% endblock %}